<footer class="relative flex h-[250px]  w-full bg-gradient-to-b from-[#FDDC8C] to-[#F6E0A9]">
    <!-- logo圖 -->
    <div class="flex flex-col w-full h-[250px]">
        <img class="w-[90px] mt-2 ml-4 lg:[113px]" src="./img/LOGO.png" alt="LOGO">
    <!-- 四個小圖 -->
    <div>   
      <img class="mt-12 h-[50px]" src="./img/4icon.png" alt="社群圖標">   
    </div>    

    <!-- 版權文字 -->
        <div>
            <p class="mt-8 font-[#1A202C] font-[16px]">©2024  Petradise. All rights reserved</p>
        </div>
    </div>
    <!-- 關於我們 -->
    <div class="absolute right-2 top-2 flex flex-row">
        <div >
            <ul class="m-4"><p class="pb-2 font-bold">關於我們</p>
                <li>客服中心</li>
                <li>品牌故事</li>
                <li>合作接洽</li>
                <li>常見問題Q&A</li>
            </ul>
        </div>
       
        <ul class="m-4"><p class="pb-2 font-bold">社群平台</p>
            <li>Discord</li>
            <li>Instagram</li>
            <li>Twitter</li>
            <li>Facebook</li>
        </ul>
    </div>
    <!-- 分隔線     -->    
    <div class="absolute bottom-[50px] w-full  items-center border-b-2 border-[#48628425]">
    </div>
</footer>